
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.h1_B {
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.h1_R {
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.h2_B {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.h2_R {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.h3_B {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.h3_R {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.h4_B {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.h4_R {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.h5_B {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.h5_R {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
}

.h6_B {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.h6_R {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.caption_B {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.caption_R {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.content_B {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.content_R {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.banner {
    width: 100%;
    height: 100vh;
    margin-top: 117px;
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;

}

.navbar {
    z-index: 99999;
    display: inline-flex;
    background-color: #ffffff;
    width: 95%;
    margin: auto;
    padding: 14px 40px;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 156px;
    height: 44px;
    flex-shrink: 0;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: hsla(0, 0%, 10%, 0.87);

}

.navbar ul li a:hover {
    text-decoration: underline;
    transition: 0.5s;
    color: #6E3AB6;
}

.trial {
    width: max-content;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: 1.5px solid hsla(0, 0%, 100%, 0);
    border-radius: 4px;
    background-color: #E98118;
    color: #ffffff !important;
    cursor: pointer;
}

.trial:hover {
    background-color: transparent;
    border: 1.5px solid hsla(0, 0%, 10%, 0.87);
    color: hsla(0, 0%, 10%, 0.87) !important;
    transition: 0.3s;
    text-decoration: none;
}

.trial_inverse:hover {

    border: 1.5px solid hsla(0, 0%, 100%, 0);
    background-color: #E98118;
    color: #ffffff !important;
    transition: 0.3s;
    cursor: pointer;
}

.trial_inverse {
    padding: 10px;
    text-align: center;
    width: max-content;
    border-radius: 4px;
    background-color: transparent;
    border: 1.5px solid hsla(0, 0%, 10%, 0.87);
    color: hsla(0, 0%, 10%, 0.87) !important;
    text-decoration: none;
}

.trial_dark {
    width: max-content;
    padding: 10px;
    text-align: center;
    border: 1.5px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff !important;
    cursor: pointer;
}

.trial_dark:hover {
    background-color: #ffffff;
    border: 1.5px solid #ffffff;
    color: hsla(0, 0%, 10%, 0.87) !important;
    transition: 0.3s;
    text-decoration: none;
}

.trial_tour {
    width: max-content;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    border: 1.5px solid hsla(0, 0%, 100%, 0);
    border-radius: 4px;
    background-color: #F2CB22;
    color: #ffffff !important;
    cursor: pointer;
}

.trial_tour:hover {
    background-color: transparent;
    border: 1.5px solid #ffffff;
    color: #ffffff !important;
    transition: 0.3s;
    text-decoration: none;
}

.header {
    z-index: 99998;
    background-color: #1E1032;
    width: 100%;
    margin: auto;
    top: 76px;
    padding: 10px 20px;
    display: inline-flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.header1 {
    position: sticky;
    z-index: 99996;
    top: 116px;
    width: 100%;
    margin: auto;
    padding: 9px 0px 9px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.header1 ul li {
    list-style: none;
    display: inline-block;
    margin: 0 16px;
    position: relative;
}

.header1 ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 0;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 16px;
    position: relative;
}

.header ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
}

.header ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #F2CB22;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.header ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.banner-title {
    width: 55%;
    padding: 92px 0 0 40px;
    color: hsla(0, 0%, 10%, 0.87);
    font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sub_banner_title {
    width: 60%;
    padding: 12px 0 0 36px;
    font-family: Montserrat;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.banner-caption {
    width: 45%;
    margin: 24px 0px 0px 40px;
    color: hsla(0, 0%, 10%, 0.87);

}

.more {
    content: '';
    display: inline-block;
    text-decoration: none;
    color: hsla(0, 0%, 10%, 0.87);
    cursor: pointer;
    position: relative;
    margin-left: 40px;

}

.more::after {
    content: '';
    height: 2px;
    width: 0;
    background: hsla(0, 0%, 10%, 0.87);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;

}

.more:hover::after {
    width: 100%;
    transition: 0.5s;

}

.product {
    width: 100%;
    height: 100%;
    background-image: url(product.jpg);
    background-size: cover;
    background-position: center;
}

.underline {
    content: '';
    height: 3px;
    width: 60px;
    background: #F2CB22;
    margin-left: 40px;
    bottom: -8px;
}

.underline1 {
    content: '';
    height: 3px;
    width: 60px;
    background: #F2CB22;

    bottom: -8px;
}

.subhead {
    margin: 52px 0px 0px 40px;
}

.product_card {
    display: inline-block;
    width: '';
    height: 256px;
    border-radius: 12px;
    border: 2px solid hsla(0, 0%, 100%, 0);
    background: linear-gradient(140deg, #FFF 0%, #F9F7FD 100%);
    margin: 0px 40px 0 0px;
}

.product_card:hover {
    display: inline-block;
    width: '';
    height: 256px;
    border-radius: 12px;
    border: 2px solid rgba(110, 58, 182, 0.30);
    background: linear-gradient(140deg, #FFF 0%, #F9F7FD 100%);
    box-shadow: 0px 4px 15px 2px rgba(110, 58, 182, 0.40);
    transition: 0.5s;
    margin: 0px 40px 0 0px;
    cursor: pointer;

    .h3_R {
        color: #6E3AB6 !important;
    }
}

.product_icon {
    width: 40px;
    height: 40px;
    padding: 32px 0 0 28px;
}

.container2 {
    width: 88%;
    height: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    ;
    border-radius: 28px;
    background-image: url(container2.jpg);
    background-size: cover;
    background-position: center;
}

.industry {
    width: 100%;
    height: 100%;
    background-image: url(industry.jpg);
    background-size: cover;
    background-position: center;
}

.industry_card {
    display: inline-block;
    width: '';
    height: 188px;
    border-radius: 12px;
    border: 2px solid hsla(0, 0%, 100%, 0);
    background: linear-gradient(140deg, #FFF 0%, #F9F7FD 100%);
    margin: 0px 20px 0 20px;
}

.industry_card:hover {
    display: inline-block;
    width: '';
    height: 188px;
    border-radius: 12px;
    border: 2px solid hsla(0, 0%, 100%, 32);
    background: linear-gradient(140deg, #FFF 0%, #F9F7FD 100%);
    box-shadow: 0px 4px 15px 2px rgba(110, 58, 182, 0.40);
    transition: 0.5s;
    margin: 0px 20px 0 20px;
    cursor: pointer;

    .h3_R {
        color: #6E3AB6 !important;
    }
}

.industry_icon {
    width: 40px;
    height: 40px;
    padding: 24px 0 0 20px;
    vertical-align: middle;
}

.features {
    width: 100%;
    background-image: url(features.jpg);
    background-size: cover;
    background-position: center;
}

.features1 {
    width: 100%;
    background-image: url(features1.jpg);
    background-size: cover;
    background-position: center;
}

.demo_card {
    width: 100%;
    background-image: url();
    background-size: cover;
    background-position: center;
}

.menu {
    display: inline-block;
    color: hsla(0, 0%, 10%, 0.87);
    background-color: transparent;
    cursor: pointer;
}

.menu_frame {
    display: grid;
    padding-bottom: 20px;
}

.menu_items:hover {
    color: #ffffff;
    padding: 12px 0px;
    background-color: #6E3AB6;
    border-radius: 4px;
    cursor: pointer
}

.menu_items.more:hover {
    color: #ffffff;
    padding: 12px 0px;
    background-color: #6E3AB6;
    border-radius: 4px;
    cursor: pointer
}

.menu_items {
    max-width: 170px;
}

.trial_feature {
    padding: 10px;
    text-align: center;
    width: max-content;
    border-radius: 4px;
    background-color: transparent;
    border: 1.5px solid #6E3AB6;
    color: #6E3AB6 !important;
    text-decoration: none;
}

.trial_feature:hover {

    border: 1.5px solid hsla(0, 0%, 100%, 0);
    background-color: #6E3AB6;
    color: #ffffff !important;
    cursor: pointer;
    transition: 0.5s;
}

.client {
    background-color: #383838;
}

.logo_card {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 12px;
    width: 200px;
    height: 92px;

}

.container3 {
    width: 88%;
    height: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    ;
    border-radius: 28px;
    background-image: url(container3.png);
    background-size: cover;
    background-position: center;
}

.container4 {
    width: 88%;
    height: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    ;
    border-radius: 28px;
    background-image: url(container4.png);
    background-size: cover;
    background-position: center;
}

.client_name {
    max-width: 230px;
    padding-top: 16px;
    color: hsla(0, 0%, 10%, 0.87);
}

.client_detail {
    max-width: 290px;
    color: hsla(0, 0%, 10%, 0.87);
}

.demo_container {
    width: 100%;
    height: 100%;
    background-image: url(demo.jpg);
    background-size: cover;
    background-position: center;
}

.demo_container_card {
    display: inline-block;
    width: '';
    height: 256px;
    border-radius: 12px;
    border: 2px solid hsla(0, 0%, 100%, 0);
    background: linear-gradient(140deg, #FFF 0%, #F9F7FD 100%);
    margin: 0px 40px 0 0px;
}

.demo_icon {
    padding-bottom: 24px;
    width: 40px;
    height: 40px;
}

.social_media:hover {
    color: #ffffff;
    background-color: hsla(0, 0%, 10%, 0.87);
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
}

.social_media {
    color: hsla(0, 0%, 10%, 0.87);
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
}

.footer {
    width: 100%;
    height: max-content;
    background-image: url(footer.jpg);
    background-size: cover;
    background-position: center;
}

.footer_menu {
    padding: 0 32px;
    color: #ffffff;
    text-decoration: none;
}

.footer_menu:hover {
    padding: 0 32px;
    color: #ffffff;
    transition: 0.5;
    text-decoration: underline;
}

.dropdown {
    z-index: 99997;
    background-color: #383838;
    border-radius: 0 0 4px 4px;
    width: max-content;
    height: max-content;
    margin: auto;
    top: 117px;
    padding: 12px 0;
    position: fixed;
}

.dropdown ul li {
    z-index: 99997;
    list-style: none;
    display: block;
    background: transparent;
    padding: 6px 24px;
}

.dropdown ul li a {
    z-index: 99997;
    color: #ffffff;
    text-decoration: none;

}

.dropdown ul li:hover {
    list-style: none;
    z-index: 99997;
    display: block;
    background: #595959;
    border-radius: 0 0 4px 4px;
    transition: 0.5s;
    padding: 6px 24px;
}

.products_banner {
    width: 100%;
    height: 44vh;
    margin-top: 117px;
    background-image: url('products_banner.jpg');
    background-size: cover;
    background-position: center;
}

.products_banner_hrms {
    width: 100%;
    height: 58vh;
    margin-top: 117px;
    background-image: url('hrms_products_banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner_production {
    width: 100%;
    height: 42vh;
    margin-top: 117px;
    background-image: url('production_banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner_inventory {
    width: 100%;
    height: 42vh;
    margin-top: 117px;
    background-image: url('inventory_banner.jpg');
    background-size: cover;
    background-position: center;
}

.hrms_banner {
    width: 100%;
    height: 100%;
    background-image: url(hrms_background.jpg);
    background-size: cover;
    background-position: center;
}

.hrms_card {
    display: inline-block;
    width: '';
    height: 200px;
    border-radius: 12px;
    border: 2px solid rgba(141, 163, 160, 0);
    background: linear-gradient(104deg, #F7F8F8 0%, #F1F4F3 100%);
    margin: 0px 40px 0 0px;
}

.hrms_card:hover {
    display: inline-block;
    width: '';
    height: 200px;
    border-radius: 12px;
    border: 2px solid rgba(141, 163, 160, 0.30);
    background: linear-gradient(104deg, #F7F8F8 0%, #F1F4F3 100%);
    box-shadow: 0px 4px 15px 2px rgba(141, 163, 160, 0.40);
    transition: 0.5s;
    margin: 0px 40px 0 0px;
    cursor: pointer;

    .h3_R {
        color: #326761 !important;
    }
}

.crm_banner {
    width: 100%;
    height: 100%;
    background-image: url(crm_background.jpg);
    background-size: cover;
    background-position: center;
}

.crm_card {
    display: inline-block;
    width: '';
    height: 200px;
    border-radius: 12px;
    border: 2px solid rgba(0, 39, 77, 0);
    background-color: #FFFFFF;
    margin: 0px 40px 0 0px;
}

.crm_card:hover {
    display: inline-block;
    width: '';
    height: 200px;
    border-radius: 12px;
    border: 2px solid rgba(0, 39, 77, 0.30);
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px 2px rgba(0, 39, 77, 0.40);
    transition: 0.5s;
    margin: 0px 40px 0 0px;
    cursor: pointer;

    .h3_R {
        color: #125BA1 !important;
    }
}

.to_the_top {
    position: fixed;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid hsla(265, 52%, 47%, 0.5);
    background-color: #6E3AB6;
    box-shadow: 0px 4px 15px 2px hsla(265, 92%, 7%, 0.25);
    transition: 0.2s ease-out;
    cursor: pointer;
}

.to_the_top:hover {
    border-radius: 80px;
    background-color: #532a8c;
    transition: 0.2s ease-out;
}

html {
    scroll-behavior: smooth;
    transition: 0.2s ease-out;
}

.sub_module_banner {
    width: 87%;
    height: 100%;
    background-image: url(sub_module_background.jpg);
    border-radius: 28px;
    margin-top: 120px;
    background-size: cover;
    background-position: center;
    margin: 0 80px;
}

.benefits {
    width: 100%;
    height: 100%;
    background-image: url(benefits_background.jpg);
    background-size: cover;
    background-position: center;
}

.challenges {
    width: 100%;
    height: 100%;
    background-image: url(challenges_background.jpg);
    background-size: cover;
    background-position: center;
}

#link {
    color: #6E3AB6;
    text-decoration-line: none;
}

#link:hover {
    color: #6E3AB6;
    transition: 0.5s;
    text-decoration-line: underline;
}

.blog_card {
    display: inline-block;
    width: 232px;
    height: '';
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 16px 24px;
}

.blog_card1 {
    display: inline-block;
    width: 300px;
    height: 272px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(26, 26, 26, 0.15);
    background-color: #FFFFFF;
}

.blog_card:hover {
    display: inline-block;
    width: 232px;
    height: '';
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px 2px rgba(110, 58, 182, 0.40);
    cursor: pointer;
    transition: 0.5s;
    padding: 16px 24px;
}

.field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid hsla(0, 0%, 10%, 0.32);
    outline: 0;
    background: transparent;
    padding-bottom: 6px;

}

.message {
    width: 100%;
    border: 0;
    border-bottom: 1px solid hsla(0, 0%, 10%, 0.32);
    outline: 0;
    background: transparent;
    padding-bottom: 80px;
}

.submit {
    background-color: #6E3AB6;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.submit:hover {
    background-color: rgb(75, 33, 133);
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: 0.5s;
}

.location {
    width: 100%;
    height: 100%;
    background-color: #383838;
}

.address {
    cursor: pointer;
}

.issue {
    width: 100%;
    height: 100%;
    background-image: url(challenges_background.jpg);
    background-size: cover;
    background-position: center;
}

.action {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

/* #Tab1 {
    display: block;
} */
.SubHeading {
    display: none;
    /* display: inline-block; */
}

.SubHeading.active {
    display: inline-block;
}

.active {
    color: #ffffff;
    padding: 12px 0px;
    background-color: #6E3AB6;
    border-radius: 4px;
    cursor: pointer
}

.fontactive {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
} */


.container3 {
    display: flex;
    /* width: fit-content; */
    overflow: hidden;
}

.container3 .slides {
    display: flex;
    width: fit-content;
    /* flex: 0 0 105%; */
}

.container3 .slide {
    flex: 0 0 100%;
    max-width: 100vw;
    padding-right: 14px;
    /* Adjust as needed */
    box-sizing: border-box;
    position: relative;
}

/* .h2_R {
    display: inline-block;
    width: 300px;
    color: hsla(0, 0%, 10%, 0.87);
}

.h6_R{
    margin-right: -525px;
} */

.trial_inverse {
    text-decoration: none;
}

.scroll-points-container {
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1000;
    margin-left: -661px;
    margin-top: 291px;
}

.scroll-points {
    display: flex;
    position: fixed;
}

.scroll-point {
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.scroll-point.actives {
    background-color: #333;
}

.header-wrapper {
    position: sticky;
    top: 0;
    /* background-color: #fff; */
    z-index: 0;
    width: 3%;
}