body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#slideshow-container {
    width: 100vw;
    overflow: hidden;
}

.slides {
    display: flex;
    width: fit-content;
}

.slide {
    flex: 0 0 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 50px; /* Adjust as needed */
}
